<div class="grid">
    <div class="col-12">
        <div class="card">
            <form [formGroup]="searchForm">
                <div class="grid">
                    <div class="col-12 flex flex-column gap-2">
                        <label for="contentSearchForm">Content</label>
                        <input formControlName="content" pInputText type="text" class="form-control"
                            aria-describedby="contentSearchForm">
                    </div>
                    <div class="col-12 flex flex-column gap-2">
                        <label for="startDateSearchForm">Minimum start date </label>
                        <p-calendar  formControlName="startDate" />
                    </div>
                    <!-- <div class="col-6 flex flex-column gap-2">
                        <label for="username">Category</label>
                        <p-dropdown optionLabel="name" placeholder="Select a City" />
                    </div> -->
                    <div class=" col-12 flex flex-column gap-2">
                        <label for="username">Distance (KM) : {{dis.value}}</label>
                        <p-slider step="25" formControlName="distance"/>
                    </div>
                    <!-- <div class="col-12 flex flex-column gap-2">
                        <label for="username">Tags</label>
                        <p-multiSelect placeholder="Select Cities" optionLabel="name" display="chip"
                            [showClear]="true" />
                    </div> -->
                    <div class="col-12 flex flex-column justify-content-center p-3">
                        <button type="submit" pButton pRipple (click)="searchEvent()"
                            class="p-button-primary text-center flex justify-content-center">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>