.side-map-container {
    min-height: 72vh;
    max-height: 72vh;
}

.side-map-right-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;

}