.side-map-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-list-event-container {
    min-height: 72vh;
    max-height: 72vh;
    overflow-y: scroll;
}