.theme-selector {
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around !important;
    align-items: center;
}

.language-selector {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.profile-link {
    display: flex;
    align-items: center;
    position: relative;
    outline: 0 none;
    color: var(--text-color);
    cursor: pointer;
    padding: .75rem 1rem;
    border-radius: 20px;
    // border-radius: $borderRadius;
    // transition: background-color $transitionDuration, box-shadow $transitionDuration;

    :hover{
        background-color: var(--surface-hover);
    }
}