<p-scroller 
    class="custom-loading" 
    [items]="users" 
    [itemSize]="25 * 7" 
    [showLoader]="true" 
    [delay]="250" 
    styleClass="border-1 surface-border" 
    [style]="{'width': '200px', 'height': '200px'}">
        <ng-template pTemplate="item" let-user let-options="options">
            <div class="flex flex-column align-items-strech" [ngClass]="{'surface-ground': options.odd}">
                <div class="flex align-items-center px-2" style="height: 25px">
                <app-compact-item-user [userData]="user"></app-compact-item-user>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="loader" let-options="options">
            <div class="flex flex-column align-items-strech" [ngClass]="{'surface-ground': options.odd}">
                <div class="flex align-items-center px-2" style="height: 25px">
                    <p-skeleton width="60%" height="1.2rem" />
                </div>
                <div class="flex align-items-center px-2" style="height: 25px">
                    <p-skeleton width="50%" height="1.2rem" />
                </div>
                <div class="flex align-items-center px-2" style="height: 25px">
                    <p-skeleton width="60%" height="1.2rem" />
                </div>
                <div class="flex align-items-center px-2" style="height: 25px">
                    <p-skeleton width="50%" height="1.2rem" />
                </div>
                <div class="flex align-items-center px-2" style="height: 25px">
                    <p-skeleton width="60%" height="1.2rem" />
                </div>
                <div class="flex align-items-center px-2" style="height: 25px">
                    <p-skeleton width="50%" height="1.2rem" />
                </div>
                <div class="flex align-items-center px-2" style="height: 25px">
                    <p-skeleton width="60%" height="1.2rem" />
                </div>
            </div>
        </ng-template>
</p-scroller>