<div class="grid ">
    <div class="col-12">

        @for (user of users; track $index) {
        <div class="row">
            <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                <div class="text-xl-center font-bold user-item-list border-round-xl" (click)="goToUserDetail(user)">
                    {{user.username}}
                </div>
            </div>
        </div>
        }

        @if (users.length == 0) {
        <h3>Users not attending</h3>
        }
    </div>
</div>