<div class="flex justify-content-center align-content-center">
    @if (!event) {

    <p-card class="shadow-8 custom-card-container" [style]="{ width: '340px', height:'380px' }">
        <ng-template pTemplate="header">
            <div class="custom-card-image-container">
                <!-- <p-image [src]="imageSrc" height="150" alt="Image" /> -->
            </div>
        </ng-template>
        <p>
            NO CONTENT
        </p>
        <ng-template pTemplate="footer">
            <div class="grid">

            </div>
        </ng-template>
    </p-card>

    <p>
    </p>
    }
    @if (event) {
    <p-card [header]="event.title" class="shadow-3 card-hover" [style]="{ maxWidth: '340px',
         maxHeight:'380px', minWidth: '340px', 
         minHeight:'380px', 
 }" (click)="opentEventDetail(event.id)">
        <ng-template pTemplate="header">
            <div class="custom-card-image-container">
                <p-image [src]="imageSrc" height="120" alt="Image" />
            </div>
        </ng-template>
        <ng-template pTemplate="title">
            <div>
                {{event.title }}
            </div>
        </ng-template>
        <ng-template pTemplate="content">
            <div class="col-12 p-0 d-flex flex-column justify-content-between">
                <div class="row">
                    <div class="col-12" [style]="{maxHeight:'75px', overflowY:'hidden'}">
                        {{event.smallDescription }}
                    </div>
                </div>
                <div class="row">
                    @if (event && event.startDate) {
                    <div class="col-6 py-1">
                        <div class="font-bold">
                            Start date
                        </div>
                        <div>
                            {{event.startDate.toLocaleString().slice(0,-3)}}
                        </div>
                    </div>
                    }
                    @if (event && event.finishDate) {
                    <div class="col-6 py-1">
                        <div class="font-bold">
                            Finish date
                        </div>
                        <div>
                            {{event.finishDate.toLocaleString().slice(0,-3)}}
                        </div>
                    </div>
                    }
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <div class="grid">
                @for (category of event.categories; track $index) {
                <p-chip class="col-6" [label]="category.name"></p-chip>
                }
            </div>
        </ng-template>
    </p-card>
    }
</div>
<!-- 
<div class="grid">
    <div class="col-12 flex flex-column md:flex-row align-items-center p-3 w-full">
        <img [src]="imageSrc" [alt]="event?.title" class="my-4 md:my-0 w-9 md:w-10rem shadow-2 mr-5" />
        <div class="flex-1 flex flex-column align-items-center text-center md:text-left">
            <div class="font-bold text-2xl">{{event?.title}}</div>
            <div class="mb-2">{{event?.smallDescription}}</div>
            <p-rating [readonly]="true" [cancel]="false" styleClass="mb-2"></p-rating>
            <div class="flex align-items-center mt-2">
                <i class="pi pi-tag mr-2"></i>
                @for (category of event?.categories; track $index) {
                <span class="font-semibold">{{category.name}}</span>
                }
            </div>
        </div>
        <div
            class="flex flex-row md:flex-column justify-content-between w-full md:w-auto align-items-center md:align-items-end mt-5 md:mt-0">
        </div>
    </div>
</div> -->