<div class="grid">

    @if(!loaded){
    <p-progressSpinner ariaLabel="loading" />
    }

    @if (loaded) {
    <div class="card col-10 col-offset-1 p-3 my-4">

        <div class="grid">

            <div class="col-12">

                <div class="col-12 flex flex-column justify-content-center align-items-center">
                    <h3>EVENT</h3>
                    <!-- <a [routerLink]="eventDetailUrl">Ir a evento</a> -->
                    @if (imageSrc) {
                    <p-image [src]="imageSrc" height="150" alt="Image" />
                    }
                    
                </div>
                <!-- <div class="row">
                    <button type="submit" pButton pRipple (click)="handleShareButton()"
                    class="p-button-primary">Share</button>
                </div> -->

                <div class="col-12 flex flex-column justify-content-center">
                    <div class="row d-flex flex-column justify-content-center align-items-center">
                        <h3 class="col-12">Content</h3>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label class="font-bold" for="username">Title</label>
                            <div>
                                {{ event?.title}}
                            </div>
                        </div>
                        <div class="col-8 ">
                            <label class="font-bold">Small description</label>
                            <div>
                                {{ event?.smallDescription}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label class="font-bold" for="username">Summary</label>
                            <div [innerHTML]="event?.largeDescription">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 flex flex-column justify-content-center">
                    <div class="row d-flex flex-column justify-content-center align-items-center">
                        <h3 class="col-12">Date</h3>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label class="font-bold" for="username">Start date</label>
                            <div>
                                {{ event?.startDate?.toLocaleString()}}
                            </div>
                        </div>

                        <div class="col-6">
                            <label class="font-bold" for="username">Finish date</label>
                            <div>
                                {{ event?.finishDate?.toLocaleString()}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 flex flex-column justify-content-center">
                    <div class="row d-flex flex-column justify-content-center align-items-center">
                        <h3 class="col-12">Categories</h3>
                    </div>
                    <div class="row">
                        @for (category of event?.categories; track $index) {
                        <p-chip class="col-6" [label]="category.name"></p-chip>
                        }
                    </div>
                </div>

                @if(event && events.length == 1){

                <div class="col-12 flex flex-column justify-content-center">
                    <div class="row d-flex flex-column justify-content-center align-items-center">
                        <h3 class="col-12">Location</h3>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label class="font-bold" for="username">Location name</label>
                            <div>
                                {{ event.locationName}}
                            </div>
                        </div>

                        <div class="col-6">
                            <label class="font-bold" for="username">Is online</label>
                            <div>
                                <p-checkbox [binary]="true" inputId="ny" [disabled]="true"></p-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class=" side-map-container">
                                <app-custom-map-detail [events]="events"
                                    [style]="{height:'50vh'}"></app-custom-map-detail>
                            </div>
                        </div>
                    </div>
                </div>

                }

                @if ( usersAttendance.length > 0) {
                <div class="col-12 flex flex-column justify-content-center">
                    <div class="row d-flex flex-column justify-content-center align-items-center">
                        <h3 class="col-12">User attendance</h3>
                    </div>
                    <div class="row">
                        <div class=" col-10 col-offset-1  row-gap-3 p-5">
                            <app-compact-user-list [users]="usersAttendance"></app-compact-user-list>
                        </div>
                    </div>
                </div>
                }

            </div>
        </div>

        @if(!userInfo){
        <div class="col-10 col-offset-1  flex flex-column row-gap-3 justify-content-center align-items-center">
            <a class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color)"
                [routerLink]="loginRoute">
                Login to attend to event
            </a>
        </div>
        }

        @if(!userIsPresent && userInfo){
        <div class="col-10 col-offset-1  flex flex-column row-gap-3 justify-content-center align-items-center">
            <button type="submit" pButton pRipple (click)="handleAttendProcess()"
                class="p-button-primary">Attend</button>
        </div>
        }
        @if(userIsPresent && userInfo){
        <div class="col-10 col-offset-1  flex flex-column row-gap-3 justify-content-center align-items-center">
            <button type="submit" pButton pRipple (click)="handleDisAttendProcess()"
                class="p-button-primary">DisAttend</button>
        </div>}
    </div>
    }
</div>