<div class="card">
    <p-tabView styleClass="tabview-custom">

        <p-tabPanel>
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <span class="font-bold white-space-nowrap m-0">
                        My events
                    </span>
                </div>
            </ng-template>
            @if (dataLoaded && userEvents.length > 0) {
            <app-event-list [events]="userEvents"></app-event-list>
            }
            @if(dataLoaded && userEvents.length == 0){

                <h3>You have not created events, create one</h3>
            <a [routerLink]="creatEventRoute">CREATE A NEW EVENT</a>
            }
        </p-tabPanel>


        <p-tabPanel>
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <span class="font-bold white-space-nowrap m-0">
                        My events to attend
                    </span>
                </div>
            </ng-template>
            @if(dataLoaded && activeEvents.length > 0){
            <app-event-list [events]="activeEvents"></app-event-list>
            }

            @if(dataLoaded && activeEvents.length == 0){
            <h3>You have no active events, join one</h3>
            <a [routerLink]="mapEventRoute">DISCOVER EVENTS CLOSER TO YOU</a><br />
            <a [routerLink]="listEventRoute">OR FIND SOMETHING YOU LIKE THE MOST</a>
            }
        </p-tabPanel>

        <p-tabPanel header="Header II">
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <span class="font-bold white-space-nowrap m-0">
                        Past events
                    </span>
                </div>
            </ng-template>
            @if(dataLoaded && pastEvents.length > 0){
            <app-event-list [events]="pastEvents"></app-event-list>
            }

            @if(dataLoaded && pastEvents.length == 0){
            <h3>You have no past events, join one</h3>
            <a [routerLink]="mapEventRoute">DISCOVER EVENTS CLOSER TO YOU</a><br />
            <a [routerLink]="listEventRoute">OR FIND SOMETHING YOU LIKE THE MOST</a>
            }
        </p-tabPanel>

    </p-tabView>
</div>