:host ::ng-deep {

    .p-tabview-nav {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .p-tabview-nav-link {
        padding: 10px;
    }

    .tabview-custom {}
}